<?xml version="1.0" encoding="utf-8"?> 
<configuration> 
   <packageSources> 
    <!--To inherit the global NuGet package sources remove the <clear/> line below --> 
   <clear /> 
   <add key="ebee112c-dd88-3a85-a235-7fa6615ecf65" value="http://localhost:8082/nexus/content/groups/nuget-public/" /> 
  </packageSources> 
</configuration>